<ion-view view-title="{{Title}}" cache-view="false">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Old Password</span>
        <input type="password" placeholder="old password" ng-model="changePwdData.oldPassword">
        <input type="hidden" ng-model="changePwdData.uid">
      </label>
      <label class="item item-input">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="new password" ng-model="changePwdData.newPassword">
      </label>
      <label class="item item-input">
        <span class="input-label">Password Confirm</span>
        <input type="password" placeholder="password confirm" ng-model="changePwdData.confirmPwd">
      </label>
    </div>
    <div class="assertive" style="text-align:center" ng-show="error">{{error}}</div>
    <a class="button button-full button-calm" ng-click="changePwd()"> Reset Password </a>
  </ion-content>
</ion-view>
