<ion-view title="Forgot Password">
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
      <span ng-hide="isLoggedIn" class='checkout-form-description'>Please enter your registered email:</span>
      <br>
      <div class="list">
        <label class="item item-input">
        <input type="email" ng-model="user.email" placeholder="Enter your email">
        </label>
      </div>
      <div class="assertive" style="text-align:center" ng-show="error.message">{{error.message}}</div>
      <button class="button button-block button-positive" ng-click="reset()">RESET PASSWORD</button>
    </ion-content>
    <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
      <br>
      <br>
      <br>
      <br>
      <div class="positive" style="text-align:center">An email has been sent to you with instructions on resetting your password.</div>
      <br>
      <br>
      <br>
      <br>
      <!--<button class="button button-block button-clear button-calm" ng-click="login()">Log In</button>-->
    </ion-content>
</ion-view>
