<ion-view title="Order Details">
  <ion-content class="has-header">
        <h5 class="title">Order Information</h5>
      <div class="row">
          <div class="col">Order Details</div>
      </div>
      <div class="row">
          <div class="col col-25">Order ID</div>
          <div class="col col-75"> #{{order.order_number}} </div>
      </div>
      <div class="row">
          <div class="col col-50">Payment Method:</div>
          <div class="col col-75"> {{order.payment_name}} </div>
      </div>
      <div class="row">
          <div class="col col-50">Created At:</div>
          <div class="col col-75"> 2016-04-04 23:25:52 </div>
      </div>
      <div class="row">
          <div class="col col-50">Customer:</div>
          <div class="col col-75"> {{order.billing_first_name}} {{order.billing_last_name}}  </div>
      </div>
      <div class="row">
          <div class="col col-50"> Phone:</div>
          <div class="col col-75"> {{order.billing_phone}}  </div>
      </div>
      <div class="row">
          <div class="col col-50"> Email:</div>
          <div class="col col-75"> {{order.email}}  </div>
      </div>
      <div class="row">
          <div class="col">Status Info</div>
      </div>
      <div class="row">
          <div class="col col-50"> Order Status:</div>
          <div class="col col-75"> 未提交  </div>
      </div>

      <div class="bar bar-balanced">
          <a href="#/app/orders" class="button button-icon title cart-footer">Continue</a>
      </div>
  </ion-content></ion-view>