<ion-view view-title="{{Title}}" cache-view="false">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" value="{{user.firstName}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" value="{{user.lastName}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" value="{{user.email}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <input type="text" value="{{user.phone}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Country</span>
        <input type="text" value="{{user.country}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Region</span>
        <input type="text" value="{{user.state}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">City</span>
        <input type="text" value="{{user.city}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" value="{{user.addressLineOne}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address 2</span>
        <input type="text" value="{{user.addressLineTwo}}" disabled>
      </label>
    </div>
    <!--<a class="button button-full button-calm">Reset Password </a>-->
    <!--<a href="#/app" class="button button-full button-dark"> Continue </a>-->
  </ion-content>
</ion-view>
