<ion-view view-title="{{Title}}" cache-view="false">
  <ion-content>
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#/app/orders">
        <i class="icon ion-bag"></i>
        My Orders
        <i class="icon icon-accessory"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/userProfile">
        <i class="icon ion-person-stalker"></i>
        Profile
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/changePwd">
        <i class="icon ion-gear-b"></i>
        Change Password
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
