<ion-view view-title="{{Title}}" cache-view="false">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" value="{{user.firstName}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" value="{{user.lastName}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" value="{{user.email}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <input type="text" value="{{user.phone}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Country</span>
        <input type="text" value="{{user.country}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Region</span>
        <input type="text" value="{{user.state}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">City</span>
        <input type="text" value="{{user.city}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" value="{{user.addressLineOne}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address 2</span>
        <input type="text" value="{{user.addressLineTwo}}">
      </label>
    </div>
    <a class="button button-full button-calm">Update</a>
  </ion-content>
</ion-view>
