<div class='item item-divider'>Name: </div>
<label class='item item-input first-name-input'>
  <input type='text' autocapitalize='words' ng-model='userinfo.firstName' ng-blur='onFirstNameBlur()' placeholder='First Name *'>
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
<label class='item item-input last-name-input'>
  <input type='text' autocapitalize='words' ng-model='userinfo.lastName' ng-blur='onLastNameBlur()'  placeholder='Last Name *'>
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
